<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projeto MVC Fórmula 1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetoMVC.styles.css" asp-append-version="true" />
    <style>
        .loading {
            height: 100vh;
            background-color: black;
            display: flex;
            align-items: center;
            justify-content: center
        }
    </style>
</head>
<body>
    <div id="loading" class="loading">
        <img id="" src="/img/Loading_animation.gif" class="imgLoading" alt="logo" />
    </div>
<h1 class="titulo" style="display: none"><a href="/"> <img id="" src="/img/Logo_F1.png" alt="logo" class="imgLogoF1"/></a></h1>
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
